<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    {% include 'librarySystem/navbar.html'%}
    <div class="row my-4">
      <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
          <h4>Registraion Page</h4>
          <hr />
          <form method="POST">
            <input class="btn btn-success" type="submit" value="Register" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
