<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Book</title>
  </head>
  <body>
    {% include "librarySystem/navbarstudent.html" %}
    <div class="hgt">
      <h1>Issue Book</h1>
      {% if error_message %}
      <p style="color: red">{{ error_message }}</p>
      {% endif %} {% if success_message %}
      <p style="color: green">{{ success_message }}</p>
      {% endif %}
      <div class="container">
        <center><h2>{{ book.title }}</h2></center>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Genre:</strong> {{ book.genre }}</p>
        <p><strong>Number of Copies:</strong> {{ book.number_of_copies }}</p>
        <p>
          <strong>Currently Available Copies:</strong>
          <span> {{ book.currently_available_copies }} </span>
        </p>
        <p><strong>Average Rating:</strong> {{ book.average_rating }}</p>
        <p><strong>Return Date:</strong> {{ return_date }}</p>
      </div>
      <form
        class="container"
        action="{% url 'issue_book' book.id %}"
        method="POST"
      >
        {% csrf_token %}
        <input type="hidden" name="book_id" value="{{ book.id }}" />
        <center><button type="submit">Issue Book</button></center>
      </form>
    </div>
    {% include "librarySystem/footer.html" %}
  </body>
</html>
